@using Imperial.SalesOrder.Web.Helpers
@model bool
@{
    var htmlAttributes = new RouteValueDictionary();

    htmlAttributes.Add("type", "checkbox");

    if (ViewBag.id != null)
    {
        htmlAttributes.Add("id", ViewBag.id);
    }

    if (ViewBag.ReadOnly != null && ViewBag.ReadOnly == true)
    {
        htmlAttributes.Add("disabled", true);
    }

    string labelClass = (ViewBag.LabelClass != null) ? ViewBag.LabelClass : "col-form-label col-sm-3 offset-xl-1";
    string controlClass = (ViewBag.ControlClass != null) ? ViewBag.ControlClass : "form-check-input";
    controlClass += Html.ValidationErrorFor(m => m, " is-invalid");

    htmlAttributes.Add("class", (ViewBag.@class != null) ? ViewBag.@class : controlClass);
}

@*Produce the actual output for the Control*@
<div class="row mb-2">
    @if (labelClass != "none")
    {
        @Html.LabelFor(m => m, new { @class = labelClass })
    }
    <div class="col-sm-3">
        <div class="form-check">
            @Html.CheckBox("", this.Model, htmlAttributes)
            <div class="invalid-feedback offset-md-2">
                @Html.ValidationMessageFor(m => m)
            </div>
        </div>
    </div>
</div>