@using Imperial.SalesOrder.Web.Helpers
@model object
@{
    string error = "" + Html.ValidationErrorFor(m => m, " is-invalid");

    var htmlAttributes = new RouteValueDictionary();
    htmlAttributes.Add("class", (ViewBag.@class != null) ? ViewBag.@class + error : "form-select" + error);
    htmlAttributes.Add("placeholder", (ViewBag.placeholder != null) ? ViewBag.placeholder : ViewData.ModelMetadata.DisplayName);

    if (ViewBag.onchange != null)
    {
        htmlAttributes.Add("onchange", ViewBag.onchange);
    }

    string optionLabel = string.IsNullOrEmpty(ViewBag.OptionLabel) ? string.Empty : ViewBag.OptionLabel;
}

<div class="form-floating">
    @if (string.IsNullOrEmpty(optionLabel))
    {
        @Html.DropDownListFor(
            m => m,
            (SelectList)ViewData["SelectList"],
            htmlAttributes)
    }
    else
    {
        @Html.DropDownListFor(
            m => m,
            (SelectList)ViewData["SelectList"],
            optionLabel,
            htmlAttributes)
    }
    @Html.LabelFor(m => m)
</div>
<div class="input-validation-error-message">
    @Html.ValidationMessageFor(m => m)
</div>
